{
  "hikvision": {
    "base_url": "http://1.2.3.4",
    "username": "user",
    "password": ""
  },
  "server": {
    "port": 19340,
    "api_key": "API_KEY",
    "spool": "/var/spool/frankamera",
    "storage": "/srv/storage/static/video"
    "log": {
      "path": "/var/log/frankamera",
      "level": "info"
    }
  },
  "ffmpeg_pool": {
    "workers": 5,
    "max_downloads_per_child": 100
  }
}
